*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 180, 242);
    color: rgb(22, 22, 21);
}
.Encabezado {
    background-color: rgb(235, 227, 233);
    color: rgb(13, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.Logo h1{
margin: 0;     
}
.Logo p{
    margin: 5px 0 0;
}
.Menu{
    display: flex;
    gap: 20px;
}
.Menu a{
    color: rgb(172, 122, 219);
    text-decoration: none;
    padding: 10px;
}
.Menu a:hover{
    color: rgb(172, 122, 219);
    background-color: rgb(207, 33, 219);
}
.bienvenida{
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(207, 151, 222);
}
.bienvenida h2{
    font-size: 32px;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
}
.tarjeta{
    background-color: rgb(203, 185, 219);
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid#776871;
}
.tarjeta h3{
    color:blueviolet;
}
.tarjeta button{
    background-color: blueviolet;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.tarjeta button:hover{
    background-color: rgb(183, 149, 215);
}
.Informacion{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    background-color: rgb(173, 106, 156);
}
.texto{
    flex: 2;
}
.datos{
    flex: 1;
    background-color: rgb(147, 119, 173);
    padding: 20px;
    border-radius: 10px;
}
footer{
    background-color: rgb(204, 161, 204);
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 20px;
}
